body {
    background-color: lightblue;
    color: midnightblue;
    font-size: 16px;
    font-weight: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.avatar {
width: 200px;
border-radius: 28px;
}
.info-text {
    margin-left: 40px;
}
.info {
    display: flex;
    margin-bottom: 15px;
}
.info p {
color: darkblue;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: underline;
letter-spacing: 4px;
word-spacing: 5px;
}
.container {
  max-width: 750px;
  margin: auto;
}
.contact {
    background-color: floralwhite;
    padding: 15px;
    border: 5px solid blue;
    margin: 20px;
  

}
.card {
    padding: 15px 20px;
    background-color: darkgrey;
    margin-bottom: 20px;
    border-radius: 20px;
}
.obratnaya h3{
text-align: center;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: black;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    background: transparent;
}
 